.app-container{
    display: grid;
    grid-template-columns: 1fr  1fr;
    height: 100vh;
    .info-and-playlists{
        margin-inline: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-height: 100vh;
        padding-top: 10px;
   
        
        .user-info{
            display: flex;
            align-items: center;
            gap: 15px;
            padding-bottom: 10px;
            border-bottom: 2px solid white;
          
            
               .user-info_details{
                font-size: 32px;
               }

               .logout-btn{
                width: 120px;
                height: 30px;
                font-size: 18px;
                font-weight: 800;
                background-color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                margin-left: auto;
                    &:hover{
                        background-color: hsla(278, 73%, 72%, 0.452);
                    }
               }
        }

        .user-playlists{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .user-playlists_btns{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 50px;
                gap: 20px;
                button{
                    font-size: 35px;
                }
            }
            .user-playlists_grid{
                height: 78vh;
                overflow-y: scroll;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 10px;
                
            }
        }
    }

    .stats-and-saved-tracks{
        margin-inline: 20px;
        font-size: 32px;
        .user-stats{
            .user-stats_top-artist{
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
}