// Colors
$night: hsla(0, 0%, 8%, 1);
$tropical-indigo: hsla(250, 46%, 68%, 1);
$white-smoke: hsla(0, 0%, 96%, 1);
$timberwolf: hsla(30, 16%, 87%, 1);
$imperial-red: hsla(359, 96%, 64%, 1);
$imperial-blue: rgb(75, 157, 251);